h2 {
    color: black;
}
.advanced-image {
    width: 50%;
    height: 500px;
}


.advanced-btn {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

.advanced-btn:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.advanced-btn:hover:after {
  transform: translate(0, 0);
}

.advanced-btn:active {
  background-color: #ffdeda;
  outline: 0;
}

.advanced-btn:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .advanced-btn {
    padding: 0 40px;
  }
}

.advanced-header {
    font-size: 1.9rem;
    font-weight: 600;
    color: #252305;
    -webkit-background-clip: text;
    background-clip: text;
    border-bottom: 2px solid #ebebe9;
    border-radius: 18px;
    text-align: center;
    margin-bottom: 20px;
  }

  .advanced-body {
    font-size: 1.5rem;
    font-weight: 400;
    color: #252305;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
  }
  .advanced-list {
    border: 1px solid #ebebe9;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: 400;
    color: #252305;
    margin-bottom: 4rem;
    margin-left: 8rem;
    margin-top: 1.9rem;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: #f8f8f8;
    max-width: 80%;
  }

  .advanced-list ul li{
    padding: 8px;
    cursor: pointer;
    color: #b9ae0a;
  }
  
  .each-advanced-list {
    border-top: 1px solid #ebebe9;
    border-bottom: 1px solid #ebebe9;
    padding: 1rem;
    border-radius: 20px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #252305;
    margin-bottom: 2rem;
    margin-top: 2rem;
    max-width: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 50px;
  }

  span {
    font-weight: 600;
    color:rgb(5, 43, 30)
  }

  .each-advanced-list h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #f07511;
    margin-bottom: 1rem;
    border-top: 2px solid rgb(206, 205, 205);
    border-bottom: 2px solid rgb(206, 205, 205);
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .each-advanced-list h3 {
    font-size: 1.6rem;
    font-weight: 600;
    color: #d8cd2f;
    margin-bottom: 1rem;
    text-decoration: underline;
  }

  .each-advanced-list h4 {
    font-size: 1.6rem;
    font-weight: 600;
    color: #7d9c0d;
    margin-bottom: 1rem;
    text-decoration: underline;
  }

  .each-advanced-list p {
    font-size: 1.6rem;
    font-weight: 400;
    color: #252305;
    margin-bottom: 1rem;
  }

  .each-advanced-list ol li{
    padding: 10px;
    max-width: 70%;
    color: rgb(2, 27, 25);
  }

  .key-points {
    border: 1px solid #ebebe9;
    border-radius: 20px;
    padding: 30px;
    font-size: 1.4rem;
    font-weight: 900;
    color: #fffffd;
    background-color: #141302;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-top: 2rem;
    max-width: 80%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .key-points ul li{
    padding: 8px;
    cursor: pointer;
    color: #fffffd;
  }
  .key-points h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #f07511;
    margin-bottom: 1rem;
  }